<main class="row p-5">
    <form class="w-25 mt-5 p-4 mx-auto bg-white" action="/u/update_password" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
        <input type="hidden" name="_method" value="patch">
        <label class="form-label mb-3" for="nfpassword">New Password</label>
        <input class="form-control mb-3" type="password" name="nfpassword" id="nfpassword" placeholder="New password">
        <label class="form-label mb-3" for="password">Re-enter New Password</label>
        <input class="form-control mb-3" type="password" name="cfpassword" id="cfpasword" placeholder="Confirm password">
        <input class="d-block mx-auto btn btn-success" type="submit" value="Update Password">
        <% flash[:errors].each do |e| %>
        <p class="text-danger text-center mt-3"><%= e %></p>
        <% end if flash[:errors] %>
    </form>
</main>