<main class="row p-5">
    <form class="w-25 mt-5 p-4 mx-auto bg-white" action="/u/find_account" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label class="form-label mb-3 d-block text-center" for="username">Let's find your account</label>
        <input class="form-control mb-3 text-center" type="text" name="recusername" id="recusername" placeholder="Username">
        <input class="d-block mx-auto btn btn-success" type="submit" value="Find">
        <% if flash[:error] %>
        <p class="text-danger text-center mt-3"><%= flash[:error] %></p>
        <% end %>
    </form>
</main>