<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <span>
        <h1 style="font-family: monospace;" class="display-1 text-center mb-3">TechnologyLearn</h1>
        <h2 class="display-6 text-center mb-3">Your companion in learning technology.</h2>
        <a class="d-block btn btn-lg btn-success w-25 mx-auto" href="/learn">Let's Start</a>
    </span>
</main>